@import 'variables';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: $site-color;
}