.header {
  left: 0;
  top: 0;
  background: url("../assets/img/showdown/header.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 545px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#showdown {
  width: 1000px;
}

#wheel {
  width: 650px;
}

@media (max-width: 1000px) {
  .header {
    background-size: contain;
    height: 100%;
  }
}
