#loader {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100%;
  height: auto;
  z-index: 9999;
  background: #170e3a;
  pointer-events: none;

  div {
    position: absolute;
    width: 50%;
    height: 100px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    font-weight: 800;
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
}

.fadeIn {
    opacity: 1;
    transition: opacity 500ms;
}

.fadeOut {
  z-index: -1;
  opacity: 0;
  transition: opacity 500ms;
}