<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="initial-scale=1,user-scalable=no" />
  <title>Test</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>

<body>
  <script defer src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>